<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:fragment="css" rel="stylesheet" type="text/css" href="/style.css">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav">
    <span th:if="${user}">
        <span>Hi, [[${user.firstName}]]</span>
        <a href="/logout">Log out</a>
        <a th:href="'/users/'+${user.id}">My Profile</a>
    </span>
    <a href="/">Home</a>
    <span th:unless="${user}">
        <a href="/login">Log In</a>
        <a href="/signup">Sign up</a>
    </span>

</nav>
</body>
</html>