<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
</head>
<body>
<h1>Sign up for Code Fellowship</h1>

<form action="/signup" method="post">
    <label>Username <input name="username"/></label>
    <br>
    <label>Password <input type="password" name="password"/></label>
    <br>
    <label>First Name <input name="firstName"/></label>
    <br>
    <label>Last Name <input name="lastName"/></label>
    <br>
    <label>Email <input name="email"/></label>
    <br>
    <label>DOB <input name="dateOfBirth"/></label>
    <br>
    <label>Bio <input name="bio"/></label>
    <br>
    <input type="submit"/>
</form>
</body>
</html>