<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments/common :: css"/>
    <title>Home</title>
</head>
<body>
<h1>Code Fellowship</h1>
<nav th:replace="fragments/common :: nav"></nav>

<img src="https://uploads.scratch.mit.edu/users/avatars/41074063.png"/>
<li>[[${loggedInUser.firstName}]] [[${loggedInUser.lastName}]]</li>
<li>Username: [[${loggedInUser.username}]]</li>
<li>Email: [[${loggedInUser.email}]]</li>
<li>DOB: [[${loggedInUser.dateOfBirth}]]</li>
<li>Bio: [[${loggedInUser.bio}]]</li>

<h3>Users [[${loggedInUser.firstName}]] follows:</h3>
<div th:each="userIfollow : ${loggedInUser.usersIFollow}">
    [[${userIfollow.username}]]
</div>

<form action="/posts" method="post">
    <label>Write a post: <input type="text" name="body"/></label>
    <label><input type="submit"/></label>
</form>

<div th:each="post : ${loggedInUser?.posts}">
    [[${post.body}]]
    <form method="post" th:action="'/posts/'+${post.id}">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="delete"/>
    </form>
</div>
</body>
</html>